
<div class="landing-wrapper">
	<div class="landing-animation-wrapper">
		<div class="square black">
			<div class="square">
				<div class="square black">
					<div class="square">
						<div class="square black">
							<div class="square">
								<div class="square black">
									<div class="square">
										<div class="square black">
											<div class="square">
												<div class="square black">
													<div class="square">
														<div class="square black">
															<div class="square">
																<div class="square black">
																	<div class="square">
																		<div class="square black">
																			<div class="square">
																				<div class="square black">
																					<div class="square">
																						<div class="square black">
																							<div class="square">
																								<div class="square black">
																									<div class="square">
																										<div class="square black">
																											<div class="square">
																												<div class="square black">
																													<div class="square">
																														<div class="square black">
																															<div class="square">
																																<div class="square black">
																																	<div class="square">
																																		<div class="square black">
																																			<div class="square">
																																				<div class="square black">
																																					<div class="square">
																																						<div class="square black">
																																							<div class="square">
																																								<div class="square black">
																																									<div class="square">
																																										<div class="square black">
																																											<div class="square">
																																												<div class="square black">
																																													<div class="square">
																																														<div class="square black">
																																															<div class="square">
																																																<div class="square black">
																																																	<div class="square">
																																																		<div class="square black">
																																																			<div class="square">
																																																				<div class="square black">
																																																					<div class="square">
																																																						<div class="square black">
																																																							<div class="square">
																																																								<div class="square black">
																																																								</div>
																																																							</div>
																																																						</div>
																																																					</div>
																																																				</div>
																																																			</div>
																																																		</div>
																																																	</div>
																																																</div>
																																															</div>
																																														</div>
																																													</div>
																																												</div>
																																											</div>
																																										</div>
																																									</div>
																																								</div>
																																							</div>
																																						</div>
																																					</div>
																																				</div>
																																			</div>
																																		</div>
																																	</div>
																																</div>
																															</div>
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="landing-text-box">
		<!-- <h1>I've been waiting...</h1>
		<h3>You know the deal,</h3>
		<h4>Youve seen a magic lamp before. When you enter you can make a wish, grant a wish, or see past wishes that have been granted. When you grant a wish, let your imagination run wild, remember that just because they get what they wished for, doesn't mean they get what they want...</h4>
		<h3>Happy Wishing!</h3> -->
		<a class="landing-button" ui-sref="mainPage">Turn Back</a>
	</div>
</div>





