<div class="main-wrapper" >
	<h1 id="main-header"><a href="http://www.alexplain.com">im a genie</a></h1>
	<a ui-sref="about"><h1 id="main-header-sub">in a battle</h1></a>
	<div class="main-links">
		<a class="wish-link" ui-sref="make"><img src="http://graffwriter.com/images_host2/1457229386edeoelkg.jpg"></a>
		<a class="grant-link" ui-sref="grant"><img src="http://graffwriter.com/images_host2/1457228653edeoelkg.jpg"></a>
		<a class="view-link" ui-sref="wish"><img src="http://graffwriter.com/images_host2/1457229058edeoelkg.jpg"></a>
	</div>
</div>

<!-- var COLOURS = [ '#FF00AE', '#F9DC31', '#6dc8ea',  '#b456c8', '#69DEE6', '#715b63', '#F9D423' ]; -->

