<div class="about-wrapper">
	<h1>Thanks for visiting,</h1>
	<h2>I hope you had as much fun playing</h2>
	<h3>as I did creating it, if you like what you see</h3>
	<h4>feel free to drop me a line, or you know, hire me. Whichever</h4>
	<h5>Thank you to Elliot Graham for providing the amazing graphics. visit him www.elliottgrahamad.com</h5>
	<h6>Also, thank you to everyone at DevMountain for turning the ideas in my head to interwebs magic, John and Vanessa. Not to sound like an acceptance speech, but thank you to my friends and family who believed in me when I didn't believe in myself. This is possible because of </h6>
	<span>Contact Me</span>
</div>