<div class="wish-page">

 <div class="jake">
  
  <div class="face">
    <div class="eye">
      <div class="cheek-left"></div>
    </div>
    <div class="eye">
      <div class="cheek-right"></div>
    </div>
    <div class="mustache">
      <div class="nose"></div>
      <div class="mouth">
        <div class="tooth-left"></div>
        <div class="tooth-center"></div>
        <div class="tooth-right"></div>
        <div class="tongue"></div>
      </div>
      <div class="mustache-cut"></div>
    </div>
  </div>

  <div class="arms">
    <div class="arm">
      <div class="finger-left"></div>
      <div class="finger-center"></div>
      <div class="finger-right"></div>
    </div>
    <div class="arm">
      <div class="finger-left"></div>
      <div class="finger-center"></div>
      <div class="finger-right"></div>
    </div>
  </div>
  
 </div>
 <div id="make-wish-section">
	<img class="adventure-logo" src="graphics/adventurous.png">
	<make-wish></make-wish>
 </div>
</div>